<!-- app/views/registers/index.html.erb -->

<h1>All Registrations</h1>
<table>
  <thead>
    <tr>
      <th>fistName</th>
      <th>lastName</th>
      <th>birthDay</th>
      <th>gender</th>
      <th>email</th>
      <th>phoneNumber</th>
      <th>subJect</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @registers.each do |register| %>
      <tr>
        <td><%= register.fistName %></td>
        <td><%= register.lastName %></td>
        <td><%= register.birthDay %></td>
        <td><%= register.gender %></td>
        <td><%= register.email %></td>
        <td><%= register.phoneNumber %></td>
        <td><%= register.subJect %></td>
        <td>
          <%= form_with model: register, method: :delete, local: true do %>
          <%= submit_tag 'Delete', data: { confirm: 'Are you sure?' } %>
         <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
