<% @register.each do |user|%>
    <tr>
        <td><%= user.fistName %></td>
        <td><%= user.lastName %></td>
        <td><%= user.email %></td>
        <td><%= user.birthDay %></td>
        <td><%= user.gender %></td>
        <td><%= user.phoneNumber %></td>
    </tr>
<%= link_to 'Back', new_register_path, class: 'btn btn-primary' %>

 <%end%>
