<!-- app/views/registers/index.html.erb -->

<h1>All Registrations</h1>
<table>
  <thead>
    <tr>
      <th>fistName</th>
      <th>lastName</th>
      <th>birthDay</th>
      <th>gender</th>
      <th>email</th>
      <th>phoneNumber</th>
      <th>subJect</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @registers.each do |register| %>
      <tr>
        <td><%= register.fistName %></td>
        <td><%= register.lastName %></td>
        <td><%= register.birthDay %></td>
        <td><%= register.gender %></td>
        <td><%= register.email %></td>
        <td><%= register.phoneNumber %></td>
        <td><%= register.subJect %></td>
        <td>
          <%= link_to 'Edit', edit_register_path(register) %> |
          <%= link_to 'Delete', register_path(register), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
